@charset "utf-8";

.category{
    margin-bottom: 50px;
}


.name{
    margin-top: 0;
    padding-top: 0;
    /*background-color:red; */
}

.name_kana{
    margin-bottom: 0px;
    padding-bottom: 0;
    /*background-color: red;*/
}

.img{
    margin-bottom: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-twitter {
    background-color: #55ACEE;
    color:white;
}
