@charset "utf-8";


*{
  font-family: "Amatic SC","cursive";
  color:#25254A;
  font-weight: bolder;
}



.bt{
  display: inline-block;
  text-decoration: none;
  color: #25254A;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #25254A;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  margin-left:300px;
  background-color: white;
  

}


    
.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
  border-color: transparent;
  margin-top: 130px;
  margin-right: 50px;
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}



#a{
    
   font-size:30px;
   margin-bottom: 100px;
   font-weight: bold;
   
}

.bt:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}



#foot{
    margin-top:150px;
    color:#25254A;
}


.button {
  display: inline-block;
  padding: .75em 4em;
  border: 1px solid black;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color:black ;
  text-decoration: none;
  text-align: center;
  background-color: white;
  margin-left:200px;
  margin-top: 20px;
}

#toop{
    font-size: 40px;
}

.img{
    margin-left: 150px;
}

.search{
    margin-bottom:100px;
    font-family: "Amatic SC";
}

.form-two{
    margin-top: 5px;
}

.hoge{
    background-color: white;
    font-family: "Amatic SC";
    border-color:black;
}
.buttonjr {
  display: inline-block;
  padding: .4em 4em;
  border: 1px solid black;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color:black ;
  text-decoration: none;
  text-align: center;
  background-color: white;
  margin-left:200px;
  margin-top: 20px;
}

table td{
    font-size: 20px;
    padding: 15px;
     color: #25254A;
}

table th{
    font-size: 30px;
    padding: 15px;
    color: #25254A;
}

table{
   
    margin-left: 400px; 
   
   
}

#detail{
   margin-left: 350px; 
   margin-top: 5px;
   /*text-align:center;*/
   
}

.shopimg{
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 30px;
    
}

.name {
   margin-top: 5px;  
}

h1{
     margin-top: 5px;
    
}
